<!-- You need to login first -->
<section class="section">
    <div class="container">
        <h1 class="title is-1">Error 401 - Unauthorised</h1>
        <h2 class="subtitle is-3">You need to be logged in to view {{Page}}</h2>
    </div>
    <br>
    <div class="container">
        <div class="notitication is-warning mx-1">
            <p>Please <a href="#login">Login</a> to continue.</p>
        </div>
    </div>
</section>