<!-- Footer -->
<footer class="footer">
    <div class="content has-text-centered">
        <p><strong>Global One Restaurant System</strong> by <a href="https://au.linkedin.com/in/francisvillarba">Francis Villarba</a>. Website created for Curtin University, GRDE3014, Web Authoring Design, Assignment 3.</p>
    </div>
</footer>