<!-- Item Creation Tool -->
<nav class="level sticky level-overlay has-background-white">
    <!-- Left Side Header -->
    <div class="level-left">
        <div class="level-item">
            <!-- Current Tool Name -->
            <p id="tool-name" class="subtitle"><strong>Item Creation Tool</strong></p>
        </div>
    </div>
    <!-- Right Side Header -->
    <div class="level-right">
        <div class="level-item"> 
            <p id="tool-task" class="subtitle"><strong>Create a new item</strong></p>
        </div>
    </div>
</nav>

<div id="form-notification" class="notification">
    <span class="icon is-medium is-left"><i class="fas fa-exclamation-circle"></i></span>
    Notification message placeholder
</div>

<!-- Form goes here -->
<form id="item-creation-form">
    <!-- TODO - Complete the creation form -->

    <br>
    <!-- Item's Primary Name -->
    <div class="field">
        <label class="label">Item Name</label>
        <div class="control">
            <input id="item-name" class="input" type="text" name="item-name" placeholder="Name" />
        </div>
        <p class="help">What is the primary name for the item?</p>
    </div>

    <!-- Item's Alternative Names -->
    <label class="label">Alternative Names</label>
    <div class="field has-addons">
        <div class="control is-expanded">
            <input id="item-alt-name-input" class="input" type="text" name="item-alt-name" placeholder="Alternative Name" />
        </div>
        <div class="control">
            <a id="item-alt-name-add" class="button is-link">Add</a>
        </div>
    </div>
    <!-- As the user adds more tags, put them inside here -->
    <!-- See https://bulma.io/documentation/elements/tag/ "Blog Tags" for inspiration -->
    <div id="item-alt-name-tags" class="tags hidden"></div>
    <p class="help">Add name variations for an item, e.g. Sparkling Water would have an alternative name of Soda Water.</p>
    <br>

    <!-- Item's Description -->
    <div class="field">
        <label class="label">Description</label>
        <div class="control is-expanded">
            <textarea id="item-description" name="item-description" class="textarea has-fixed-size" placeholder="Item Description" rows="3"></textarea>
        </div>
        <p class="help">Describe the item. This is useful for those who don't know what the item is.</p>
    </div>
    <hr>
    <br>

    <!-- Prices -->
    <label class="label">Item Prices</label>
    <p class="help">The price of the item at various operating states such as Lunch, Dinner, Public Holiday and On Sale / Special Price</p>
    <br>
    <div class="field is-horizontal">
        <!-- Lunch Price -->
        <div class="field-label">
            <label class="label">Lunch</label>
        </div>
        <div class="field-body">
            <div class="field has-addons">
                <p class="control">
                    <a class="button is-static">&#36;</a>
                </p>
                <p class="control">
                    <input id="item-price-lunch" class="input" type="number" placeholder="0.00" step="0.01" min="0" max="5" />
                </p>
            </div>
        </div>

        <!-- Dinner Price -->
        <div class="field-label">
            <label class="label">Dinner</label>
        </div>
        <div class="field-body">
            <div class="field has-addons">
                <p class="control">
                    <a class="button is-static">&#36;</a>
                </p>
                <p class="control">
                    <input id="item-dinner-lunch" class="input" type="number" placeholder="0.00" step="0.01" min="0" max="5" />
                </p>
            </div>
        </div>

        <!-- Public Holiday Price -->
        <div class="field-label">
            <label class="label">Holiday</label>
        </div>
        <div class="field-body">
            <div class="field has-addons">
                <p class="control">
                    <a class="button is-static">&#36;</a>
                </p>
                <p class="control">
                    <input id="item-price-public" class="input" type="number" placeholder="0.00" step="0.01" min="0" max="5" />
                </p>
            </div>
        </div>

        <!-- Special / On Sale  Price -->
        <div class="field-label">
            <label class="label">Special</label>
        </div>
        <div class="field-body">
            <div class="field has-addons">
                <p class="control">
                    <a class="button is-static">&#36;</a>
                </p>
                <p class="control">
                    <input id="item-price-special" class="input" type="number" placeholder="0.00" step="0.01" min="0" max="5" />
                </p>
            </div>
        </div>
    </div>
    <br>

    <!-- Availability Flags -->
    <label class="label">Item Availability</label>
    <p class="help">When is the item available for purchase?</p>
    <br>
    <div class="field is-horizontal">
        <!-- Lunch Time Availability -->
        <div class="field-label">
            <label class="label">Lunch</label>
        </div>
        <div class="field-body">
            <div class="buttons has-addons">
                <a id="item-avail-lunch-yes" class="button is-success is-selected">Yes</a>
                <a id="item-avail-lunch-no" class="button">No</a>
            </div>
        </div>

        <!-- Dinner Time Availability -->
        <div class="field-label">
            <label class="label">Dinner</label>
        </div>
        <div class="field-body">
            <div class="buttons has-addons">
                <a id="item-avail-dinner-yes" class="button is-success is-selected">Yes</a>
                <a id="item-avail-dinner-no" class="button">No</a>
            </div>
        </div>

        <!-- Public Holiday Availability -->
        <div class="field-label">
            <label class="label">Holiday</label>
        </div>
        <div class="field-body">
            <div class="buttons has-addons">
                <a id="item-avail-holiday-yes" class="button is-success is-selected">Yes</a>
                <a id="item-avail-holiday-no" class="button">No</a>
            </div>
        </div>
    </div>
    <hr>
    <br>

    <!-- Primary Category -->
    <div class="field">
        <label class="label">Primary Category</label>
        <span class="select">
            <select id="item-category-selection" name="item-category-selection">
                <option value="Dim Sum" selected>Dim Sum</option>
                <option value="BBQ">Barbeque</option>
                <option value="Noodles">Noodles</option>
                <option value="Rice">Rice</option>
                <option value="Sides">Sides</option>
                <option value="Deserts">Deserts</option>
                <option value="Beverage">Beverage</option>
                <option value="Tea">Tea</option>
                <option value="Soft Drinks">Soft Drinks</option>
                <option value="Alcohol">Alcohol</option>
            </select>
        </span>
        <p class="help">The primary menu category for the item</p>
    </div>
    <br>

    <!-- Item Tags (for searching) -->
    <label class="label">Item Tags</label>
    <div class="field has-addons">
        <div class="control is-expanded">
            <input id="item-tags-input" class="input" type="text" name="item-alt-name" placeholder="Tags" />
        </div>
        <div class="control">
            <a id="item-tags-add" class="button is-link">Add</a>
        </div>
    </div>
    <!-- As the user adds more tags, put them inside here -->
    <!-- See https://bulma.io/documentation/elements/tag/ "Blog Tags" for inspiration -->
    <div id="item-tags" class="tags hidden"></div>
    <p class="help">To help with searching. For example, Coca Cola would have the tags "carbonated" and "cola"</p>
    <br>

    <!-- Ingredient Tags (for searching) -->
    <label class="label">Item Ingredients</label>
    <div class="field has-addons">
        <div class="control is-expanded">
            <input id="item-ingredients-input" class="input" type="text" name="item-alt-name" placeholder="Ingredient" />
        </div>
        <div class="control">
            <a id="item-ingredients-add" class="button is-link">Add</a>
        </div>
    </div>
    <!-- As the user adds more tags, put them inside here -->
    <!-- See https://bulma.io/documentation/elements/tag/ "Blog Tags" for inspiration -->
    <div id="item-ingredient-tags" class="tags hidden"></div>
    <p class="help">Primary ingredients for the item, for example "Peanuts".</p>
    <hr>
    <br>

    <!-- Image URL fields -->
    <div class="field">
        <label class="label">Menu Image</label>
        <div class="control">
            <input id="item-image" class="input" type="text" name="item-image" placeholder="Menu Image URL" />
        </div>
        <p class="help">The URL to the full quality menu image for the item. Shown when the user clicks on the item in the menu</p>
    </div>

    <!-- Image Thubmnail URL field -->
    <div class="field">
        <label class="label">Thumbnail Image</label>
        <div class="control">
            <input id="item-thumbnail" class="input" type="text" name="item-thumbnail" placeholder="Thumbnail image URL" />
        </div>
        <p class="help">The URL to the loq quality thumbnail image for the item. Shown when the user goes to the menu screen</p>
    </div>
    <br>
    <hr>
    <br><br>

    <!-- Form Controls -->
    <div class="level">
        <div class="level-left">
            <input id="reset-item-button" type="reset" class="button" />
        </div>
        <div class="level-right">
            <button id="preview-item-button" class="button is-link">Preview</button>
        </div>
    </div>
</form>