<div id="{{ItemID}}" class="column is-one-third">
    <div class="card fadeIn menu-item">
        <!-- Item Thumbnail Image -->
        <div class="card-image">
            <figure class="image menu-thumbnail">
                <img src="{{ImageURL}}" alt="{{ImageAlt}}" />
            </figure>
        </div>
        <!-- Card Text Content -->
        <div class="card-content">
            <div class="content">
                <p class="title is-4">{{ItemName}}</p>
                {{#ShowPrice}}
                    <p class="subtitle is-5">{{ItemPrice}}</p>
                {{/ShowPrice}}
            </div>
        </div>
    </div>
</div>