<!-- Menu Item Detail -->
<section class="section">
    <div class="container">
        <figure class="image">
            <img src="{{ImageURL}}" alt="{{ImageAlt}}" class="menu-image" />
        </figure>
        <br>
        <h1 class="title is-3">{{ItemName}}</h1>
        <h2 class="subtitle is-6">{{ItemDescription}}</h2>
        {{#ItemPrice}}
            <p class="subtitle is-4">{{ItemPrice}}</p>
        {{/ItemPrice}}
    </div>
</section>