<!-- Menu Grid -->
<nav class="level sticky level-overlay has-background-white">
    <!-- Left Side Header -->
    <div class="level-left">
        <div class="level-item">
            <!-- Current Tool Name -->
            <p id="tool-name" class="subtitle"><strong>{{ToolName}}</strong></p>
        </div>
    </div>
    <!-- Right Side Header -->
    <div class="level-right">
        <div class="level-item">
            <!-- Search Field and Button -->
            <div class="field has-addons">
                <p class="controls">
                    <input id="search-field" class="input" type="text" placeholder="search" />
                </p>
                <p class="control">
                    <button id="search-button" class="button">
                        <span class="icon is-small">
                            <i class="fas fa-search"></i>
                        </span>
                    </button>
                </p>
            </div>
        </div>
    </div>
</nav>

<!-- Actual Items Go here -->
<div id="menu-item-grid" class="columns is-multiline">
    <!-- Insert Search Results Here -->
</div>