<!-- Modal Mustache Template -->
<!-- Based on the Bulma Modal Card Design with specific customisations to suit my project -->
<!-- Requires Mustache to function correctly -->

<div class="modal">
    <div id="modal-overlay" class="modal-background">
        <div id="modal-ui" class="modal-card force-center-vertically">
            <!-- Heading for the modal -->
            <div class="modal-card-head">
                <p class="modal-card-title">{{ModalTitle}}</p>
                <!-- Show only when ShowClose Mustache is true -->
                {{#ShowClose}}
                    <button id="modal-ui-close" class="delete" aria-label="close"></button>
                {{/ShowClose}}
            </div>
            <!-- Main body for the modal -->
            <div id="modal-body" class="modal-card-body">
                {{#ShowDocument}}
                    {{> Document}}
                {{/ShowDocument}}
                {{^ShowDocument}}
                    {{BodyContent}}
                {{/ShowDocument}}
            </div>
            <!-- Footer for the modal -->
            <footer id="modal-footer" class="modal-card-foot">
                <div class="level">
                    <!-- Make the buttons left-aligned using Bulma level layout component -->
                    <div class="level-right">
                        <div class="level-item">
                            <button id="modal-ui-primary-button" class="button is-success">{{PrimaryButton}}</button>
                        </div>
                        <!-- Show only when ShowSecondary is true -->
                        {{#ShowSecondary}}
                            <div class="level-item">
                                <button id="modal-ui-secondary-button" class="button">{{SecondaryButton}}</button>
                            </div>
                        {{/ShowSecondary}}
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>