<!-- Use aria-labels to guide assistive technologies -->
<nav class="navbar" role="navigation" aria-label="primary site navigation">
    <!-- Branding Logo -->
    <div class="navbar-brand">
        <a class="navbar-item" href="#">
            <img src={{logo}} alt="GlobalOne Logo" width="200"/>
        </a>

    <!-- Hamburger Menu on mobile -->
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" id="navbarMobile"></a>
    </div>

    <!-- Primary Navigation Bar and Links -->
    <div id="navbarPrimary" class="navbar-menu">
        <!-- Usse navbar-start to ensure navigation items are at the start of the div (left hand side) -->
        <div class="navbar-start" id="navbarLinks">
            <!-- Fill this in with JavaScript -->
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons" id="navbarAccountLinks">
                    <!-- Fill this in with JavaScript -->
                </div>
            </div>
        </div>
    </div>
</nav>