<!-- Terms and Conditions Modal -->
<section>
    <div class="container">
        <h1 class="title">Terms and Conditions for GlobalOne</h1>
    </div>
</section>
<br>

<section>
    <div class="container">
        <h2 class="subtitle">Introduction</h2>
        <p>
            These terms and conditions are applied fully and affect your use of this website.
            By using this website, you have agreed to accept all the terms and conditions written here.
            You must not use this website if you disagree with any of these terms and conditions
        </p>
    </div>
</section>
<br>

<section>
    <div class="container">
        <h2 class="subtitle">Restrictions</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae fermentum ex, a fringilla eros. 
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
            Maecenas id pharetra urna, non ullamcorper ipsum. Vivamus in facilisis metus, ut ultricies dui. 
            Morbi ornare risus a neque aliquet mattis. Etiam nec nunc efficitur, scelerisque ante eu, feugiat lacus. 
            Sed interdum pharetra justo vel elementum. In ut eros et eros sollicitudin rutrum sit amet vitae risus. 
            Aenean fringilla felis a blandit placerat.
        </p>
    </div>
</section>
<br>

<section>
    <div class="container">
        <h2 class="subtitle">Subtitle Heading</h2>
        <p>
            Nulla non leo tellus. Nullam et viverra mauris. Duis varius risus id leo tristique fermentum. 
            Maecenas tempus velit ac dignissim dictum. Sed lobortis porttitor aliquam. 
            Suspendisse nec leo ac dolor euismod ornare in non sem. Fusce tellus magna, posuere id dui luctus, rutrum finibus velit. 
            Fusce at eros ex. Phasellus enim arcu, ultricies quis feugiat feugiat, congue quis orci. Nam ultricies ante elit, vitae rutrum massa malesuada a. 
            Nullam hendrerit venenatis eros et dictum. Sed vitae elementum risus. 
            Maecenas suscipit mauris tristique rutrum dignissim. Aliquam et risus odio.
        </p>
    </div>
</section>
<br>