<!-- 404 Page Not Found -->
<section class="section">
    <div class="container">
        <h1 class="title is-1">Error 404 - Not Found</h1>
        <h2 class="subtitle is-3">The requested page or content could not be found</h2>
        {{#request}}
            <!-- If the user had a request in the call, display it here -->
            <p>Requested Route: {{request}}</p>
        {{/request}}
    </div>
</section>