<!-- The page is currently under construction -->
<section class="section">
    <div class="container">
        <h1 class="title is-1">{{#page}} {{page}} is {{/page}}Under Construction</h1>
        <h2 class="subtitle is-3">Please check back later!</h2>
    </div>
    <br>
    <div class="container">
        <div class="notification is-info mx-1">
            There are a number of pages that are not implemented in this iteration of the project. Some of these include
            About, Gallery, Contact and Management System. For a complete breakdown, please check the Project
            Specifications Document that has been submitted as part of GRDE4014, Web Authoring Design, Assignment 2.
        </div>
    </div>
</section>