<!-- Hero Banner -->
<section class="hero hero-landing is-large">
    <div class="content hero-body is-large ml-6">
        <h1 class="title has-text-white ml-6">Global One</h1>
        <h2 class="subtitle has-text-white is-size-3 ml-6">Awesome Asian Food!</h2>
    </div>
</section>

<!-- Secondary Body Content -->
<section class="section">
    <div class="container">
        {{! <h1 class="title">Who Are We?</h1>
        <p>Global One is a hip new Ssian eatery.</p>
        <p></p> }}
        <div class="columns">
            <div class="column is-two-thirds">
                <h1 class="title">Who are we?</h1>
                <p class="mb-4">Global One is a hip new Asian eastery in Perth, Western Australia!</p>
                <br>
                <p>We specialise in freshly made, cooked-in-house, selection of awesome hits from Asia that are delicious, healthy, affordable, wholesome and awesome!</p>
            </div>
            <div class="column">
                <figure class="image is-square">
                    <img src={{who_image}}>
                </figure>
            </div>
        </div>
    </div>
</section>
