<!-- Login Form -->
<section class="section">
    <div class="columns">
        <div class="column is-half sidePanel is-hidden-mobile is-hidden-tablet-only"></div>
        <!-- Actual Body Goes Here! -->
        <div class="column">
            <div class="container authenticate-title">
                <h1 class="title is-1">Login</h1>
                <h2 class="subtitle is-3">Please Login to Continue</h2>
            </div>
            <!-- For generalised notification settings -->
            <div id="notification-general" class="notification authenticate-notification hidden"></div>
            <!-- Login Form Elements -->
            <div class="container margin-top margin-sides">
                <form id="loginForm">
                    <!-- Email Address Field -->
                    <div class="field">
                        <div class="control has-icons-left has-icons-right">
                            <input id="email-input" class="input is-medium" type="email" name="email" placeholder="Email Address" />
                            <span class="icon is-medium is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                            <!-- RHS Icon - used if we need to indicate a problem etc -->
                            <span class="icon is-medium is-right">
                                <i id="email-icon-right" class=""></i>
                            </span>
                        </div>
                        <!-- Help message if form validation fails on email adddress -->
                        <p id="email-help-message" class="help is-danger hidden">Email is invalid</p>
                    </div>

                    <!-- Password Field -->
                    <div class="field">
                        <div class="control has-icons-left has-icons-right">
                            <input id="password-input" class="input is-medium" type="password" name="password" placeholder="Password" />
                            <span class="icon is-medium is-left">
                                <i class="fas fa-key"></i>
                            </span>
                            <!-- RHS Icon - used if we need to indicate a problem etc -->
                            <span class="icon is-medium is-right">
                                <i id="password-icon-right" class=""></i>
                            </span>
                        </div>
                    </div>

                    <!-- Login Button -->
                    <div class="field margin-top">
                        <div class="control">
                            <input id="login-button" class="button is-link is-large force-center" type="submit" value="Login" />
                        </div>
                    </div>
                </form>

                <!-- Forgot Password Button  -->
                <button id="forgot-password-button" class="button is-text force-center margin-top">Forgot Password?</button>
                <hr class="margin-tops">
            </div>

            <div class="container margin-sides has-text-centered">
                <p>Don't have an account with us?</p>
                <p>Make one using either of the following</p>
                <br class="margin-top">
                <!-- Register via email address -->
                <button id="register-email" class="button is-medium is-light mx-1 my-1">
                    <span class="icon"><i class="fas fa-envelope"></i></span>
                    <span>Email</span>
                </button>
                <!-- Register via google account -->
                <button id="register-google" class="button is-medium is-light mx-1 my-1">
                    <span class="icon"><i class="fab fa-google"></i></span>
                    <span>Google</span>
                </button>
                <!-- Register via Facebook / Social media account -->
                <button id="register-facebook" class="button is-medium is-light mx-1 my-1">
                    <span class="icon"><i class="fab fa-facebook-f"></i></span>
                    <span>Facebook</span>
                </button>
            </div>
        </div>
    </div>
</section>