<!-- Hero Banner -->
<section class="hero hero-menu is-small">
    <div class="content hero-body is-large ml-6">
        <h1 class="title has-text-white ml-6">Item Management System</h1>
    </div>
</section>

<!-- Item Management System -->
<section id="item-management-system" class="section">
    <div class="container">
        <div class="columns is-1">
            <div class="column is-one-fifth">
                <!-- Tools Menu -->
                <aside id="management-tools" class="menu sticky">
                    <p class="menu-label">Tools</p>
                    <ul id="tools-selection" class="menu-list">
                        <li><a id="management-home" class="has-text-weight-bold has-background-link-dark has-text-white">Home</a></li>
                        <li><a id="search-tool">Search</a></li>
                        <li><a id="create-tool">Create Item</a></li>
                        <li><a id="all-items-tool">All Items</a></li>
                        <li><a id="sold-out-tool">Sold Out</a></li>
                        <li><a id="discontinued-items-tool">Discontinued</a></li>
                    </ul>
                </aside>
            </div>
            <!-- Partial Content -->
            <div id="partial-target" class="column">
                <!-- Insert Body Content Here -->
            </div>
        </div>
    </div>
</section>

<!-- TODO - Make this authenticated and permissions based only -->