<!-- Hero Banner -->
<section class="hero hero-menu is-small">
    <div class="content hero-body is-large ml-6">
        <h1 class="title has-text-white ml-6">Menu</h1>
    </div>
</section>

<!-- Menu System -->
<section id="menu-system" class="section">
    <div class="container">
        <div class="columns is-1">
            <div class="column is-one-fifth">
                <!-- Filter and Sorting Selection Menu -->
                <aside id="menu-selection-filters" class="menu sticky">
                    <p class="menu-label">Menu</p>
                    <ul id="menu-selection" class="menu-list">
                        <li><a id="menu-all" class="has-text-weight-bold has-background-link-dark has-text-white">All Items</a></li>
                        <li><a id="menu-lunch">Lunch Time</a></li>
                        <li><a id="menu-dinner">Dinner Time</a></li>
                    </ul>
                    <p class="menu-label">Food</p>
                    <ul id="menu-categories" class="menu-list">
                        <li><a id="filter-dimsum">Dim Sum</a></li>
                        <li><a id="filter-bbq">Barbeque</a></li>
                        <li><a id="filter-noodles">Noodles</a></li>
                        <li><a id="filter-rice">Rice</a></li>
                        <li><a id="filter-sides">Sides</a></li>
                        <li><a id="filter-deserts">Deserts</a></li>
                    </ul>
                    <p class="menu-label">Beverages</p>
                    <ul id="menu-beverages" class="menu-list">
                        <li><a id="filter-drinks">All Drinks</a></li>
                        <li><a id="filter-tea">Tea</a></li>
                        <li><a id="filter-softdrinks">Soft Drinks</a></li>
                        <li><a id="filter-alcohol">Alcohol 18+</a></li>
                    </ul>
                </aside>
            </div>
            <!-- Menu Items Grid -->
            <div class="column">
                <!-- Header For Items Grid -->
                <nav class="level sticky level-overlay has-background-white">
                    <!-- Left Side Menu Grid Header -->
                    <div class="level-left">
                        <div class="level-item">
                            <!-- Current Filter Name -->
                            <p id="current-filter-text" class="subtitle"><strong>All Items</strong> (A-Z)</p>
                        </div>
                    </div>
                    <!-- Right Side Menu Grid header -->
                    <div class="level-right">
                        <div class="level-item">
                            <!-- Search Field -->
                            <div class="field has-addons">
                                <p class="control">
                                    <input id="search-field" class="input" type="text" placeholder="Search" />
                                </p>
                                <p class="control">
                                    <button id="search-button" class="button">
                                        <span class="icon is-small">
                                            <i class="fas fa-search"></i>
                                        </span>
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>
                </nav>

                <!-- Actual Menu Items Here -->
                <div id="menu-item-grid" class="columns is-multiline">
                    <!-- Insert Menu Items Here -->
                    <div id="loading" class="preLoader"></div>
                </div>
            </div>
        </div>
    </div>
</section>