<!-- The order page -->
{{#Authenticated}}
    <!-- Authenticated Order Screen -->
    <section class="section">
        <div class="container">
            <h1 class="title is-1">Place an order</h1>
        </div>
    </section>
    <!-- TODO - Implement the order screen -->
{{/Authenticated}}
{{^Authenticated}}
    <!-- You need to login first! -->
    <section class="section">
        <div class="container">
            <h1 class="title is-1">Error 401 - Unauthorised</h1>
            <h2 class="subtitle is-3">You need to be logged in to place an order</h2>
        </div>
        <br>
        <div class="container">
            <div class="notification is-warning mx-1">
                <p>To meet the requirements for Assessment 3, Authentication is required for a customer
                to place an order in the system. </p><br>
                <p>In a real production environment, guests can order
                without making an account (Think Dominoes Delivery etc.).</p>
            </div>
        </div>
    </section>
{{/Authenticated}}