<!-- User Profile Page -->
{{#Authenticated}}
<!-- User Profile Page -->
<section id="profile-system" class="section">
    <div class="container">
        <div class="columns is-1">
            <!-- Sidebar Navigation for Profile System -->
            <div class="column is-one-fifth">
                <!-- Profile Navigation Links -->
                <aside class="menu sticky">
                    <p class="menu-label">Menu</p>
                    <ul id="profile-navigation" class="menu-list">
                        <li><a id="profile-home" class="has-text-weight-bold has-background-link-dark has-text-white">Home</a></li>
                        <li><a id="order-history">Order History</a></li>
                        <li><a id="marketing-settings">Marketing Settings</a></li>
                        <li><a id="profile-update">Update Profile</a></li>
                        <li><a id="password-change">Change Password</a></li>
                    </ul>
                    <br>
                    {{#StaffPermissions}}
                    <!-- Staff only system tools -->
                    <p class="menu-label">Staff Tools</p>
                    <ul id="staff-tools" class="menu-list">
                        <li><a id="shift-management">Shifts</a></li>
                        <li><a id="pos-system">POS System</a></li>
                    </ul>
                    <br>
                    {{/StaffPermissions}}
                    {{#ManagementPermissions}}
                    <!-- Management / Owner only system tools -->
                    <p class="menu-label">Management Tools</p>
                    <ul id="management-tools" class="menu-list">
                        <li><a id="item-management">Item Management</a></li>
                        <li><a id="restaurant-management">Restaurant Management</a></li>
                        <li><a id="staff-management">Staff Management</a></li>
                        <li><a id="system-management">System Management</a></li>
                        <li><a id="user-management">User Management</a></li>
                        <li><a id="website-management">Website Management</a></li>
                    </ul>
                    <br>
                    {{/ManagementPermissions}}
                </aside>
            </div>

            <!-- Main Body Content -->
            <div class="column">
                <!-- Header for the Content Section -->
                <nav class="level sticky level-overlay has-background-white">
                    <!-- Left Side Menu Header -->
                    <div class="level-left">
                        <p id="current-section" class="subtitle"><strong>Profile Home</strong></p>
                    </div>
                    <!-- Right Side Menu Header -->
                    <div class="level-right">
                        <p id="account-info" class="subtitle"><strong>G'day {{UserName}}!</strong></p>
                    </div>
                </nav>

                <!-- Actual body content for the profile page goes here -->
                <div id="profile-body-content" class="content">
                    <!-- Insert all body content related stuff here with JS -->
                    <article class="message is-info">
                        <div class="message-header">
                            <p>Welcome</p>
                        </div>
                        <div class="message-body">
                            <p>Welcome to the profile page! </p>
                            <p>
                                Here, you will be able to check out the 
                                latest news and happenings with GlobalOne, make changes to your 
                                account as well as check out your order history!
                            </p>
                        </div>
                    </article>

                    <article class="message is-warning">
                        <div class="message-header">
                            <p>Notices (PLEASE README!)</p>
                        </div>
                        <div class="message-body">
                            <p>Only <strong>"Item Management"</strong> is functional at this stage.</p> 
                            <p>
                                Item Management was the focus here to meet the requirements of GRDE3014, 
                                Web Authoring Design, Assignment 3 "Frontend 2.1 - Essential Functionality".
                                More features will come at a later date!
                            </p>
                            <p>- Francis Villarba </p>
                        </div>
                    </article>
                    
                </div>
            </div>
        </div>
    </div>
</section>
{{/Authenticated}}
{{^Authenticated}}
    <!-- You need to login first -->
    <section class="section">
        <div class="container">
            <h1 class="title is-1">Error 401 - Unauthorised</h1>
            <h2 class="subtitle is-3">You need to be logged in to view profile</h2>
            <br>
            <div class="notification is-warning mx-1">
                <p>Please <a href="#login">Login</a> to continue.</p>
            </div>
        </div>
    </section>
{{/Authenticated}}