<!-- User Registration Form -->
<section class="section">
    <div class="columns">
        <div class="column is-half sidePanel is-hidden-mobile is-hidden-tablet-only"></div>
        <!-- Actual Body for the form -->
        <div class="column">
            <!-- Heading -->
            <div class="container authenticate-title">
                <h1 class="title is-1">Register</h1>
                <h2 class="subtitle is-3">Welcome to GlobalOne</h2>
            </div>
            <!-- For generalised notification settings -->
            <div id="notification-general" class="notification authenticate-notification hidden"></div>
            <!-- Registration form elements -->
            <div class="container margin-top margin-sides">
                <form id="registerForm">
                    <!-- First Name Field -->
                    <div class="field">
                        <label class="label">Name</label>
                        <div class="control has-icons-left has-icons-right">
                            <input id="first-name-input" class="input is-medium" type="text" name="firstName" placeholder="First Name" />
                            <span class="icon is-medium is-left">
                                <i class="fas fa-user"></i>
                            </span>
                        </div>
                    </div>
                    <!-- Last Name Field -->
                    <div class="field">
                            <div class="control has-icons-left has-icons-right">
                            <input id="last-name-input" class="input is-medium" type="text" name="lastName" placeholder="Last Name" />
                            <span class="icon is-medium is-left">
                                <i class="fas fa-users"></i>
                            </span>
                        </div>
                    </div>
                    <br>

                    <!-- Email Address Field -->
                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control has-icons-left has-icons-right">
                            <input id="email-input" class="input is-medium" type="email" name="email" placeholder="Email Address" />
                            <span class="icon is-medium is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </div>
                    </div>
                    <br>

                    <!-- Password Field -->
                    <div class="field">
                        <label class="label">Password</label>
                        <div class="control has-icons-left has-icons-right">
                            <input id="password-input" class="input is-medium" type="password" name="password" placeholder="Password" />
                            <span class="icon is-medium is-left">
                                <i class="fas fa-key"></i>
                            </span>
                        </div>
                    </div>
                    <!-- Password Verification -->
                    <div class="field">
                        <div class="control has-icons-left has-icons-right">
                            <input id="password-input-retry" class="input is-medium" type="password" name="passwordRetry" placeholder="Verify Password" />
                            <span class="icon is-medium is-left">
                                <i class="fas fa-unlock"></i>
                            </span>
                        </div>
                    </div>
                    <br>

                    <!-- TOS Acceptance -->
                    <div class="field">
                        <label class="label">Legal</label>
                        <div class="control">
                            <label class="checkbox">
                                <input id="legal-accepted" type="checkbox" /> I agree to the <a id="tos-button">Terms and Conditions</a>
                            </label>
                        </div>
                    </div>
                    <br>

                    <!-- Form Controls -->
                    <div class="field margin-top is-grouped">
                        <div class="control">
                            <input id="register-button" class="button is-link is-large" type="submit" value="Register" />
                        </div>
                        <div class="control">
                            <input id="clear-form" class="button is-large is-light" type="reset" value="Reset" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>