// Navigation Bar Logo Image
.navbar-item img {
    max-height: none !important;
}

// Hero Images
.hero-landing {
    background-image: $darken-image, $landing-banner-background;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-menu {
    background-image: $darken-image, $landing-banner-background;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

// Footers
.footer {
    padding: $footer-padding;
}

// Decorative side panel
.sidePanel {
    background-image: $side-panel-background;
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.authenticate-title {
    // Top, LR, Bottom
    margin: $extra-margin-bottom $extra-margin $extra-margin-bottom;
}

.authenticate-notification {
    // LR
    margin: $extra-margins-sides-only !important;
}

// Modal Footer Override
.modal-card-foot {
    // Place action buttons to the right side
    justify-content: flex-end;
}

// Override for the base overlay class (once everything is loaded)
.overlay {
    z-index: 100;
}

// For items that we need to keep fixed in place
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 3%;
    z-index: 6;
}

// Override for menu header
.level-overlay {
    margin: 0 -9999rem;
    /* add back negative margin value */
    padding: 1rem 9999rem;
    overflow-x: hidden;
    top: 0;
    z-index: 5;
}