// Hide an element
.hidden {
    display: none !important;
}

// Force an item to be centered in whatever it is in
.force-center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

// Force an item to be centered horizontally and vertically on the screen
.force-center-screen {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate( -50%, -50% );
}

// Force an item to be centered vertically on the screen
.force-center-vertically {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

// Force a gap between itself and content above
.margin-top {
    margin-top: $extra-margin !important;
}

// Force a top and bottom margin for an item
.margin-tops {
    margin-top: $extra-margin !important;
    margin-bottom: $extra-margin !important;
}

// Force a margin on both sides of an item
.margin-sides {
    margin-left: $extra-margin;
    margin-right: $extra-margin;
}

// Force a margin on the left side
.margin-left {
    margin-left: $extra-margin;
}

// Initially set the opacity to zero for anime to stagger animate
.fadeIn {
    opacity: 0
}

.menu-item {
    transition: 0.3s;
    height: 400px;
}

.menu-item:hover {
    cursor: pointer;
    box-shadow: 
        0 0.5em 1em -0.125em rgba(10, 10, 10, .3),
        0 0 0 3px rgba(10, 10, 10, .05)
    ;
}

// For item detail modal
.menu-image {
    // Use object fit to ensure that it does not go too large
    object-fit: contain;
    // Have the image no larger than 50% of the device's vertical height
    height: 50vh !important;
    width: auto;
}

// For menu item thumbnail
.menu-thumbnail {
    object-fit: cover;
    // Set a fixed size to make it fit properly in the page
    height: 280px !important;   // Important to ensure bulma doesn't override this
    // 280px was chosen as it allowed 2 line items to display properly with price
    width: 100%;
    // Hide the overflow so it doesn't go weird on mobile
    overflow: hidden;
    position: relative;
}