// Images and Background Graphics
$landing-banner-background: url('../img/banner.jpg');                           // Banner Image Background
$side-panel-background: url('../img/panel.jpg');                                // Side Panel Image Background
$darken-image: linear-gradient( rgba( 0, 0, 0, 0.5), rgba( 0, 0, 0, 0.5));  // Gradient to make it easier to read text when overlaid on images

// Layout Variables
$extra-margin: 3rem;
$extra-margin-bottom: 1rem;
$extra-margins: 3rem 1.5rem 1.5rem 3rem;
$extra-margins-sides-only: 3rem 0rem 0rem 3rem;
$footer-padding: 3rem 1.5rem 3rem;