<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Backend API</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    <!-- Main Section -->
    <div class="section">
        <div class="container is-danger">
            <h1 class="title">{{PageTitle}}</h1>
            <h2 class="subtitle">{{PageSubtitle}}</h2>
            <p>{{PageContent}}</p>
        </div>
    </div>
</body>
</html>